<!DOCTYPE html>
<html>
  <head>
    <title>SockORama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
